{
  "name": "{{ name }}",
  "description": "{{{ description }}}",
  "version": "0.0.0",
  "private": true,
  "license": "Apache-2.0",
  "author": "NBCUniversal",
   "main": "release/index.js",
  "directories": {
    "test": "tests"
  },
  "scripts": {
    "format": "prettier --write '**/*.{ts,md,json}'",
    "build": "tsc",
    "test": "mocha test/**/*.spec.js",
    "test-cov": "nyc --reporter=text-summary npm test && nyc check-coverage",
    "pretest": "npm run build"
  },
  "author": "",
  "license": "MIT",
  "devDependencies": {
    "@types/aws-lambda": "0.0.24",
    "@types/node": "8.5.2",
    "chai": "^4.2.0",
    "husky": "^4.2.5",
    "lint-staged": "^10.2.9",
    "mocha": "^7.2.0",
    "nyc": "^15.1.0",
    "prettier": "^2.0.5",
    "typescript": "2.6.2"
  },
  "prettier": {
    "trailingComma": "es5"
  },
  "husky": {
    "hooks": {
      "pre-commit": "lint-staged"
    }
  },
  "lint-staged": {
    "*.{ts,md,json}": [
      "prettier --write",
      "git add"
    ]
  }
}