# {{ name }}
{{{ description }}}

## Available Scripts

- `format`: format files with [Prettier][1]
- `build`: compile [TypeScript][2] sources
- `test`: run tests with [Mocha][3]/[Chai][4]

[1]: https://prettier.io/
[2]: https://www.typescriptlang.org/
[3]: https://mochajs.org/
[4]: https://www.chaijs.com/
