AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: >
  {{ name }}
  {{{ description }}}
Globals:
  Function:
    Timeout: 3
Resources:
  {{ capitalize (camelcase name) }}Function:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: packages/{{ name }}/
      Handler: app.lambdaHandler
      Runtime: {{ AWS_SAM_RUNTIME }}